.cen{
    text-align: center;
    margin-top: 2rem;
}
.rows{
    margin: 5px;
}
button{
    padding: 1.3rem;
    font-size: 20px;
    margin: 1.5px;
    border: 0.1px solid black;
    border-radius: 9px;
    height: 60px;
    cursor: pointer;
}
.write{
    font-size: 22px;
    margin-bottom: 7px;
    width: 229px;
    padding: 16px 2px;
    border-radius: 5px;
    border: 0px solid black;
    height: 50px;
}
div.forColor{
    background-color: rgb(214, 169, 169);
    justify-content: center;
    width: 290px;
    height: 400px;
    padding: 0px;
    border-radius: 12px;
}
div.all-above{
    display: flex;
    align-items: center;
    justify-content: center;
}
